fastapi
uvicorn[standard]
gunicorn
pydantic[email]
pydantic-settings
python-multipart
python-dotenv
sqlalchemy[asyncio]
asyncpg
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
httpx
aiosmtplib
tiktoken
slowapi
pytest
pytest-asyncio
